body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  padding: 0 16px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 16px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 24px;
  max-width: 320px;
}

img {
  width: 100%;
  border-radius: 16px;
}

h3 {
  color: hsl(218, 44%, 22%);
  font-size: 18px;
  margin: 16px 0 8px 0;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 16px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
